body {
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: rgb(54, 143, 173);
}

.world {
  /* overflow-y: hidden;
  overflow-x: scroll; */
}

h1 {
  text-align: center;
  color: darkblue;
}

.two-column-map-and-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100px;
  width: 100%;
}
/* @media (min-width: 0px) { */
.Month-List {
  display: grid;
  grid-template-columns: 1fr;
}
/* } */

@media (min-width: 800px) {
  /* .two-column-map-and-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  } */
  /* .Month-List {
    display: grid;
    grid-template-columns: 1fr;
  } */
}

.CityName-Months {
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the bottom of the page */
  /* height: 200px; */
  /* width: 100px; */
  z-index: 1;
  right: 0;
  padding-top: 60;
  margin-top: 60px;
  /* margin-right: 5px; */
  background-color: rgb(54, 143, 173);
}

.two-columns-countrylist {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  width: 120px;
  padding-bottom: 5px;
}

.four-columns-min-max-filter {
  display: grid;
  grid-template-columns: 5fr 1fr 0.5fr 1fr 0.5fr;
  width: 454px;
  padding-bottom: 5px;
  text-align: center;

  margin: auto; /*Center navbar*/
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.City-Name {
  margin-top: 35px;
  /* margin-right: 5px; */
  padding: 1px;
  padding-right: 5px;
  /* margin-left: 30px; */
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(54, 143, 173);
  font-weight: bold;
}

input {
  height: 25px;
  width: 40px;
  border: 5px;
  border-color: white;
  background-color: lightblue;
  border-radius: 5px;
  z-index: 1;
  margin-top: 5px;
  text-align: center;
}

.country-scroll {
  height: 800px;
  width: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.List-Title {
  font-size: 1em;
  font-weight: bold;
  /* text-align: center; */
}

.countryName {
  font-size: 1.3em;
  font-weight: bold;
}

.InputCoastRatio {
  font-size: 1.3em;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightblue;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 20px;
  height: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(26, 10, 248, 0.5);
  position: absolute;
  transform: translate(-50%, -50%);
}

.circle:hover {
  background-color: rgb(255, 0, 0);
}

.monthSwitch {
  vertical-align: -20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* -webkit-transition: 0.4s;
  transition: 0.4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
