@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: red; */
  margin: 0;
  padding: 0;
  display: block;
  width: 100vw;
  height: 100vw;
  background-color: rgb(54, 143, 173);
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}

@media (min-width: 600px) {
  .worldimg {
    width: calc(100% - 150px);
  }
}
@media (min-width: 600px) {
  .world {
    background-color: rgb(54, 143, 173);
    margin-top: 33px;
    /* margin-left: 150px; */
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    /* height: 100%; */
    /* width: 100%; */
    /* background-size: cover; */
  }
}

@media (max-width: 599px) {
  .world {
    background-color: rgb(54, 143, 173);
    margin-top: 33px;
    margin-left: 0px;
    width: 100vw;
  }
}

.topbar {
  background-color: #000;
  /* display: grid;
  grid-template-columns: 0fr 1fr 0fr 1fr; */
  width: 100%;
  height: 33px;
  /* padding-bottom: 5px; */
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  display: flex;
  align-items: center;
}

.topbar-center {
  width: 350px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

input {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  float: left;
  /* align: center; */
  height: 18px;
  width: 100px;
  border: 5px;
  border-color: white;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  /* display: inline-block;
  vertical-align: middle; */
  text-align: center;
}

.topbar-div {
  float: left;
}

.topbar-filter-button {
  float: right;
  font-size: 12px;
  /* font-weight: bold; */
  background-color: #000;
  color: white;
  width: 80px;
  height: 33px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  border-color: #000;
  /* transition: border-color 0.25s; */
  font-family: Inter, sans-serif;
  /* , system-ui, Avenir, Helvetica, Arial, sans-serif; */
}

.topbar-filter-button:focus {
  border-color: #fff;
}

@media (min-width: 600px) {
  .sidebar-footer {
    top: 33px;
    /* left: 0px; */
    right: 0px;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 1;
  }
}

@media (max-width: 599px) {
  .sidebar-footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 180px;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
  }
}

@media (min-width: 600px) {
  .City-Name {
    color: #2196f3;
    text-align: "center";
    height: 45px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 599px) {
  .City-Name {
    color: #2196f3;
    text-align: "center";
    height: 30px;
    overflow-wrap: break-word;
  }
}

@media (min-width: 600px) {
  .Month-List {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;

    align: center;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .Month-List {
    display: grid;
    margin-top: 5px;
    margin-bottom: 10px;
    grid-template-rows: repeat(6, auto); /* Adjust rows as needed */
    grid-auto-flow: column; /* Fills down rows first */
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
}

@media (min-width: 600px) {
  .Month-Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    /* margin-left: 5px; */
    /* padding-bottom: 5px; */
  }
}

@media (max-width: 599px) {
  .Month-Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 140px;

    /* padding-bottom: 5px; */
  }
}

@media (min-width: 600px) {
  .monthName {
    /* background-color: rgb(54, 143, 173); */
    font-weight: "bold";
    /* border-radius: "5px"; */
    text-align: "center";
    font-size: 15px;
    font-weight: bold;
    padding-top: 1px;
  }
}

@media (max-width: 599px) {
  .monthName {
    /* background-color: rgb(54, 143, 173); */
    font-weight: "bold";
    /* border-radius: "5px"; */
    text-align: "center";
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
  }
}

@media (min-width: 600px) {
  .monthTemperature {
    /* background-color: rgb(54, 143, 173); */
    font-weight: "bold";
    /* border-radius: "5px"; */
    text-align: "center";
    font-size: 15px;
    font-weight: bold;
    padding-top: 1px;
  }
}

@media (max-width: 599px) {
  .monthTemperature {
    /* background-color: rgb(54, 143, 173); */
    font-weight: "bold";
    /* border-radius: "5px"; */
    text-align: "center";
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
  }
}

.country-scroll {
  height: 800px;
  width: 350px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.List-Title {
  font-size: 14px;
  font-weight: bold;
  margin: 4px;
  text-align: center;
}

.countryName {
  font-size: 1.3em;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightblue;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 20px;
  height: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(26, 10, 248, 0.5);
  position: absolute;
  transform: translate(-50%, -50%);
}

.circle:hover {
  background-color: rgb(255, 0, 0);
}

.monthSwitch {
  vertical-align: -20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 13px;
  margin-top: 4px;
  margin-left: 4px;
  /* margin-right: 4px; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* -webkit-transition: 0.4s;
  transition: 0.4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
